{% extends 'base.html.twig' %}

{% block title %}New Marcador
{% endblock %}

{% block body %}
	<h1>Crear nuevo Marcador</h1>

	{{ include('marcador/_form.html.twig') }}

	<a href="{{ path('marcador_index') }}">back to list</a>
{% endblock %}
